.App {
  text-align: center;
}

.App .tips {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App .tipform {
  padding: 60px;
  margin: auto;
  display: flex;
  width: 100%;
  max-width: 520px;
  min-height: 300px;
  justify-content: center;
  background: rgb(252, 200, 152);
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}


.App .notifs {
  padding: 60px;
  margin: auto;
  display: flex;
  width: 100%;
  max-width: 520px;
  min-height: 300px;
  justify-content: center;
  background: rgb(112, 169, 245);
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}


