.p1 {
  font-family: "Times New Roman", Times, serif;
  min-height: 100vh;
  color: rgb(6, 6, 12);
  
}

.p2 {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  color: rgb(6, 6, 12);
  
}

.p3 {
  font-family: "Lucida Console", "Courier New", monospace;
  min-height: 100vh;
  color: rgb(6, 6, 12);
 
}

.App {
  overflow-x: hidden; 
  background-image: url("https://image.freepik.com/free-vector/white-abstract-background_23-2148810113.jpg");
  background-size: cover;
}

.App .tips {
  padding: 64px;
  background-color: transparent;
}

.App .tipform {
  margin: auto;
  display: flex;
  min-height: 300px;
  justify-content: center;
  background: transparent;
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

.App .tipform input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  background: rgba(8, 8, 8, 0.1);
  color: white;
  letter-spacing: 1px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active {
  background-color: #072361 !important;
}

.App .notifs {
  margin: auto;
  display: flex;
  width: 100%;
  min-height: 300px;
  justify-content: center;
  background: rgb(112, 169, 245);
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

h1 {
  text-shadow: 2px 2px;
}

.worksafe{
  background-image: url("https://image.freepik.com/free-vector/white-abstract-background_23-2148810113.jpg");
}

.App .forms {
  display:inline-flex;
}


